.circle-1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #0072c6;
    margin-right: 100px;
    background-image: url(../Images/Ellipse\ 1.png);
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .circle-1 .div-under {
    position: absolute;
    bottom: -50px; /* adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
  }
  
  .circle-1 .div-under-topic {
    position: absolute;
    bottom: -80px; /* adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
    overflow: hidden;
  }
  
  .circle-1 .div-under-tasks {
    position: absolute;
    bottom: -150px; /* adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
    overflow: hidden;
  }
  .button-no-task{
    width: 250px;
    height: 45px;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #F3F3F3;
    border-radius: 15px;
  }