@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/satoshi');

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f5f5f5; */
}
body{
  background-color: rgb(188, 214, 214);
  font-family: 'Poppins', sans-serif;
}
/* customize scroll bar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 255, 0.705);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}